[class*='btn'] {
  border: 1px solid $black-transparent;
  border-radius: 5px;
  cursor: pointer;
  font-size: 21px;
  outline: none;
  padding: 12px 20px;

  &:hover  {
    opacity: .75;
   }

  &:disabled {
    cursor: not-allowed;
   }
}

.btn-purple {
  background: $purple;
  color: $white;
}

.btn-transparent-light {
  background: transparent;
  border-color: $white;
  color: $white;
}

.btn-transparent-dark {
  background: transparent;
  border-color: $light-grey;
  color: $light-grey;
}

.btn-expand {
  box-shadow: inset 0 -3px 0 $black-transparent;
  font-size: 22px;
  padding: 12px 44px;
}

// Mobile

@media (max-width: 767px) {
  [class*='btn'] {
    display: block;
    margin: 0 auto;
  }

}
