.service {
  margin: 60px 20px;

}

.service-description {
  font-size: 20px;
}

//Tablet

@media (max-width: 991px) {
  .service {
    margin: 60px 10px;

  }
}

//Mobile

@media (max-width: 767px) {
  .service {
    margin: 55px auto;
    max-width: 380px;

  }
}
