.team-member {
  border: 1px solid $grey-border;
  border-radius: 20px;
  margin: 0 auto 30px;
  min-height: 529px;
  padding: 20px;

  &:hover {
    background: $yellow;
  }

  i {
    padding: 0 5px;
  }

}

.team-member-img {
  height: 170px;
  width: 180px;
}

.team-member-name {
  font-size: 36px;
}

.team-member-position {
  font-size: 18px;
  font-weight: bold;
}

.team-member-description {
  font-size: 19px;
}

@media (max-width: 1199px) {
  .team-member {
    margin: 0 auto 80px;
  }
}

// Mobile
@media (max-width: 767px) {
  .team-member {
    max-width: 400px;
  }
}
