// colors
$white: #fff;
$purple: #5c1bb7;
$pink: #800080;
$light-purple: #dbd7f0;
$purple-transparent: rgba(92, 27, 183, .5);
$black-transparent: rgba(0, 0, 0, .3);
$darker-grey: #1f1f1f;
$dark-grey: #222;
$grey: #333;
$medium-grey: #555;
$light-grey: #7b7b7b;
$lighter-grey: #999;


//colors for reset file
$grey-reset: '#b0b0b0';
$grey-reset2: '#979797';


//font-size from Bootstrap change what you need :) Francisco Pena
$font-size-base:          14px !default;
$font-size-h1:            floor(($font-size-base * 5.8)) !default;
$font-size-h2:            floor(($font-size-base * 4.15)) !default;
$font-size-h3:            ceil(($font-size-base * 1.7)) !default;
$font-size-h4:            ceil(($font-size-base * 1.5)) !default;
$font-size-h5:            $font-size-base !default;
$font-size-h6:            ceil(($font-size-base * .85)) !default;


//** `<input>` background color
$input-bg:                       $grey !default;

//** Text color for `<input>`s
$input-color:                    $light-grey !default;
//** `<input>` border color
$input-border:                   transparent !default;
