// colors
$white: #fff;
$purple: #5c1bb7;
$medium-purple: #673AB7;
$light-purple: #dbd7f0;
$pink: #ac24ac;
$yellow: #ffeb3b;
$purple-transparent: rgba(92, 27, 183, .5);
$black-transparent: rgba(0, 0, 0, .2);
$darker-grey: #1f1f1f;
$dark-grey: #222;
$grey: #333;
$medium-grey: #555;
$light-grey: #7b7b7b;
$lighter-grey: #999;
$grey-border: #d9d9d9;


//font-size from Bootstrap change what you need :) Francisco Pena
$font-size-base:          14px !default;
$font-size-h1:            floor(($font-size-base * 5.05));
$font-size-h2:            floor(($font-size-base * 3.9));
$font-size-h3:            ceil(($font-size-base * 1.425));
$font-size-h4:            ceil(($font-size-base * 1.5));
$font-size-h5:            $font-size-base;
$font-size-h6:            ceil(($font-size-base * .85));


//** `<input>` background color
$input-bg:                       $grey !default;

//** Text color for `<input>`s
$input-color:                    $light-grey !default;
//** `<input>` border color
$input-border:                   transparent !default;
